.landing-container {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin: 0;
  flex-wrap: wrap;
  color: #e7e6e7;
  font-family: "Bangers", cursive;
}

.landing-header {
  font-size: 92px;
  letter-spacing: 4px;
  margin: 0;
}

.typewriter-container {
  font-size: 64px;
  letter-spacing: 4px;
}

.flash-hero {
  width: 60vw;
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }

  .landing-header {
    margin-top: 32px;
    text-align: center;
  }

  .typewriter-container {
    text-align: center;
  }
}

.landing-right {
  margin-right: 40px;
}
