body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #262a2b;
}
